*{
	margin: 0 0;
	padding: 0 0;
	font-family: monospace;
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #24243e, #302b63, #0f0c29);
	background: -o-linear-gradient(left, #24243e, #302b63, #0f0c29);
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
	color: #FFF;
}
