<!-- Herencia de platilla -->
{% extends 'layout.html' %}
<!-- Bloque de contenido -->
{% block content %}
	<!-- Importar Macros -->
	{% from 'macros.html' import viewFormulario %}
	<form id="form-cuser" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		{{ viewFormulario(form.usuario, class="form-control") }}
		<br>
		{{ viewFormulario(form.email, class="form-control") }}
		<br>
		{{ viewFormulario(form.password, class="form-control") }}
		<br>
		<button type="submit" class="btn btn-primary">Ingresar</button>
	</form>
{% endblock %}